<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grishany.yandex_mobilization2017">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:icon="@drawable/yandex_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OPtions2"
            android:label="@string/Lang_Act" />
        <activity
            android:name=".FullScreenActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ChooseTranslate"
            android:label="@string/Lang_Act2">

        </activity>
    </application>

</manifest>